{% extends "shop/base.html" %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="product-detail">

        <div class="col-sm-4">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}"
                 class="img-responsive">
        </div>

        <div class="col-sm-8">
            <h1>{{ product.name }}</h1>
            <h2><a href="{{ product.category.get_absolute_url_with_parent }}">{{ product.category }}</a></h2>

            <div class="item col-sm-4">
                {% for cat_prop in category_property %}
                    <p>{{ cat_prop.name }} </p>
                {% endfor %}
            </div>
            <div class="item col-sm-4">
                {% for product_prop in product_property %}
                    <p>{{ product_prop }} </p>
                {% endfor %}
            </div>
            <div>
                {{ product.description | linebreaks }}
            </div>


            <p class="price">
                {{ product.price }} грн.
            </p>
            <form action="{% url "cart:CartAdd" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
            </form>

        </div>
    </div>
{% endblock %}
