{% extends 'shop/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
{#  {% if category %} {{ category.name }} {% else %} Каталог {% endif %}#}
Страница товаров
{% endblock %}


{% block content %}

    <div id="sidebar" class="col-sm-3">
        <a href="{{ category.parent.get_absolute_url }}"><h2>Here</h2></a>
        <h3>Elastic search</h3>
        <div class="item col-sm-2">
            {% for filter in category_filters %}
                <p>===============</p>
                <p>{{ filter }}:</p>
                <form>
                 <p><select name="select" >
                 <option selected value="#"></option>
                {% for key,filter_select in  filters_select.items %}
                    {% if key == filter %}
                        {% for fltr_slt in filter_select %}
                            <option value="{{fltr_slt}}">{{fltr_slt}}</option>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                 </select>
                 </form>
            {% endfor %}
        </div>
    </div>

  <div id="main" class="product_list col-sm-9">
    <h1>{{ category.name }}</h1>
    <div class="items row">
      {% for product in products %}
        <div class="item col-sm-4">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}" class="img-responsive">
            </a>
          <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
          {{ product.price }} грн.
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}