{% extends 'shop/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    {#  {% if category %} {{ category.name }} {% else %} Каталог {% endif %}#}
    Найдено
{% endblock %}


{% block content %}
    <div id="main" class="product_list col-sm-9">
        <div class="items row">
            {% for product in products %}
                <div class="item col-sm-4">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="



                                {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %}{% endif %}"
                             class="img-responsive">
                    </a>
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                    {{ product.price }} грн.
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}&search={{ search_query }}"><-</a>
        {% endif %}

        {% for num in products.paginator.page_range %}
            {% if num == articles.number %}
                <span class="current"><b>{{ num }}</b></span>
            {% else %}
                <a href="?page={{ num }}&search={{ search_query }}"> {{ num }}</a>
            {% endif %}
        {% endfor %}


        {#        <span class="current">#}
{#            Page {{ products.number }} of {{ products.paginator.num_pages }}.#}
{#        </span>#}

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}&search={{ search_query }}">-></a>
        {% endif %}
    </span>
        </div>
    </div>


{% endblock %}
